.header-menu {
  display: block;
  max-width: 1246px;
  min-width: 320px;
  min-height: 155px;
  background-color: #ffffff;
  margin: 0 auto;
  &__navigation-for-mobile {
    display: none;
  }
  &__main-banner { //first line (logo,phone-number,about our work)
    width: 100%;
    float: left;
    margin-top: 34px;
  }
  &__logo-container {
    display: block;
    width: auto;
    float: left;
    padding-left: 13px;
  }
  &__logo {
    display: block;

  }
  &__logo-name {
    color: #747688;
    font-size: 14px;
    font-weight: 400;
    margin-top: 9px;
  }
  &__input-container {
    display: block;
    float: left;
    width: 496px;
    min-width: 200px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #b9b8bd;
    margin-left: 43px;

  }
  &__search {
    display: block;
    width: 450px;
    height: 36px;
    border-radius: 4px;
    border: transparent;
    text-decoration: none;
    font-size: 14px;
    color: #b9b8bd;
    font-weight: 400;
    outline: none;
    padding-left: 10px;
    margin: 1px 1px;
  }
  &__search-icon {
    display: block;
    float: right;
    margin-top: -28px;
    margin-right: 10px;
    //padding: 10px 9px 0 0;
  }
  &__contact-number {
    display: block;
    max-width: 190px;
    height: 23px;
    color: #181616;
    font-size: 23px;
    font-weight: 400;
    float: left;
    padding-top: 8px;
    margin-left: 92px;
  }

  &__about-our-work {
    display: block;
    float: left;
    width: 138px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #cb944c;
    margin-left: 16px;
    line-height: 0;
    p:nth-child(2) {
      color: #2b3056;
      padding-top: 5px;
    }
  }
  &__navigation { //second line with nav-menu
    display: block;
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
    max-width: 1240px;
    //height: 56px;
    float: left;
  }
  &__navigation-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 18px 10px 0;
    a {
      text-decoration: none;
      color: #181818;
      padding-bottom: 20px; //для того, чтобы раскрывалось меню
      &:hover {
        color: #6570f2;
      }
    }
    &:first-child:hover .header-menu__navigation-items {
      display: block;
      z-index: 2;
    }
    &:first-child:before {
      content: url("../assets/menu-icon.png");
      padding: 0 12px 0 6px;
    }
    &:first-child:after {
      content: url("../assets/catalog-string.png");
      padding-left: 10px;
    }
    &:nth-child(7) {
      background-color: #cb944c;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      padding-top: 0;
      margin-right: 7px;
      margin-left: 115px;
      padding-right: 21px;
    }
    &:nth-child(7):before {
      content: url("../assets/basket.png");
      float: right;
      margin-right: 12px;
      margin-top: -2px;
    }

    #quantity-of-goods {
      color: #ffffff;
      padding-left: 2px;
    }
    &:nth-child(8) a {
      color: #252a54;
    }
    &:last-child {
      padding-right: 0;
      a {
        color: #252a54;
      }
    }
    &:last-child:before {
      content: url("../assets/profile-icon.png");
      padding-right: 8px;
    }
  }
  &__navigation-items {
    display: none;
    position: absolute;
    width: 244px;
    box-shadow: 2px 3px 1px rgba(108, 104, 104, 0.33);
    border-radius: 3px;
    border: 1px solid #dddfdf;
    background-color: #ffffff;
    list-style-type: none;
    padding-left: 0;
    margin-top: 18px;
    li {
      color: #cb944c;
      &:nth-child(4) {
        height: 35px;
      }
      &:first-child a:after, &:nth-child(4) a:after {
        content: "›";
        float: right;
        zoom: 1.4;
        color: #cb944c;
        margin-top: -4px;
        margin-right: 9px;
      }
      &:nth-child(4):hover .header-menu__sub-menu-items {
        display: block;
      }
      &:last-child a {
        height: 60px;
      }
      &:before {
        content: "○";
        position: absolute;
        margin-left: 16px;
        margin-top: 4px;
      }
    }

    a {
      display: block;
      width: 244px;
      height: 35px;
      text-transform: none;
      padding-top: 4px;
      padding-left: 40px;
      color: #666666;
      &:hover {
        background-color: #e3e3e4;
        opacity: 0.77;
      }

    }
  }

  &__sub-menu-items {
    display: none;
    position: absolute;
    width: 244px;
    height: 156px;
    box-shadow: 2px 3px 1px rgba(108, 104, 104, 0.33);
    border-radius: 3px;
    border: 1px solid #dddfdf;
    background-color: #ffffff;
    left: 250px;
    padding-left: 0;
    margin-left: -3px;
    margin-top: -54px;
    list-style-type: none;
    li:nth-child(n+2) a:after {
      color: transparent;
    }
    li:first-child {
      padding: 23px 0 8px 18px;
    }
    li:first-child:before {
      color: transparent;
    }
    li:last-child a {
      width: 244px;
      height: 35px;
    }
  }
  // АДАПТИВ
  @media all and (max-width: 1264px) {
    &__input-container {
      width: 221px;
    }
    &__search {
      width: 170px;
      font-size: 10px;
    }
    &__contact-number {
      margin-left: 29px;
    }
    &__navigation-title {
      font-size: 13px;
      font-weight: 700;
      &:nth-child(7) {
        padding-top: 1px;
        margin-left: 35px;
      }
    }
    #quantity-of-goods {
      padding-left: 4px;
    }
    &__navigation {
      width: 100%;
    }
  }
  @media all and (max-width: 994px) {
    &__main-banner {
      margin-top: 22px;
    }
    &__logo {
      width: 178px;
    }
    &__logo-name {
      font-size: 13px;
    }
    &__contact-number {
      font-size: 15px;
      padding-top: 0;
    }
    &__about-our-work {
      width: 98px;
      height: 20px;
      font-size: 10px;
      &:last-child {
        margin-top: -5px;
      }
    }
    &__navigation-title {

      &:nth-child(n+7) {
        position: absolute;
        top: 45px;
        float: right;
      }
      &:last-child {
        right: 30px;
      }
      &:nth-child(8) {
        font-size: 10px;
        right: 109px;
        top: 51px;
      }
      &:nth-child(7) {
        right: 320px;
        width: 13px;
        top: 85px;
        zoom: 0.7;
      }
    }
  }
  @media all and (max-width: 727px) {
    &__input-container {
      margin-left: 20px;
    }
  }
  @media all and (max-width: 716px) {
    height: 255px;
    &__main-banner {
      padding-bottom: 40px;
    }
    &__input-container {
      height: 30px;
      margin-bottom: 10px;
    }
    &__search {
      height: 26px;
    }
    &__search-icon {
      margin-top: -23px;
    }
  }
  @media all and (max-width: 702px) {
    &__about-our-work {
      margin-top: 30px;
      margin-left: 55px;
    }
    &__navigation-title {

      &:nth-child(n+7) {
        top: 85px;
      }
      &:nth-child(8) {
        top: 91px;
      }
      &:nth-child(7) {
        top: 143px;
      }
    }
  }
  @media all and (max-width: 640px) {
    height: 390px;
    &__navigation-title:nth-child(-n+6) {
      width: 195px;
      text-align: center;
      float: left;
      margin-left: 33%;
      a {
        text-align: center;
      }
    }
    &__navigation-items {
      margin-top: 6px;
      li:before {
        display: none;
      }
      a {
        padding-left: 0;
        text-align: left;
        padding-top: 10px;
      }
      li:nth-child(4):hover .header-menu__sub-menu-items {
        display: none;
      }
    }
  }
  @media all and (max-width: 460px) {
    height: 114px;
    min-height: 114px;
    &__navigation-for-mobile {
      display: block;
      width: 100%;
      height: 40px;
      background-color: #f0f1f6;
    }
    &__mobile-nav-container {
      display: block;
      margin: 0 auto;
      width: 320px;
      a {
        display: block;
        float: left;
        width: 52px;
        min-width: 20px;
        height: 40px;
        text-align: center;
        &:hover {
          background-color: #3eade2;
          transition: 0.7s;
        }
      }
      a img {
        padding-top: 10px;
      }
    }
    &__input-container,&__contact-number,&__about-our-work,
    &__navigation {
      display: none;
    }
    &__main-banner {
      padding-bottom: 0;
      margin-top: 13px;
    }
  }
}
