@charset "UTF-8";
.header-menu {
  display: block;
  max-width: 1246px;
  min-width: 320px;
  min-height: 155px;
  background-color: #ffffff;
  margin: 0 auto; }
  .header-menu__navigation-for-mobile {
    display: none; }
  .header-menu__main-banner {
    width: 100%;
    float: left;
    margin-top: 34px; }
  .header-menu__logo-container {
    display: block;
    width: auto;
    float: left;
    padding-left: 13px; }
  .header-menu__logo {
    display: block; }
  .header-menu__logo-name {
    color: #747688;
    font-size: 14px;
    font-weight: 400;
    margin-top: 9px; }
  .header-menu__input-container {
    display: block;
    float: left;
    width: 496px;
    min-width: 200px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #b9b8bd;
    margin-left: 43px; }
  .header-menu__search {
    display: block;
    width: 450px;
    height: 36px;
    border-radius: 4px;
    border: transparent;
    text-decoration: none;
    font-size: 14px;
    color: #b9b8bd;
    font-weight: 400;
    outline: none;
    padding-left: 10px;
    margin: 1px 1px; }
  .header-menu__search-icon {
    display: block;
    float: right;
    margin-top: -28px;
    margin-right: 10px; }
  .header-menu__contact-number {
    display: block;
    max-width: 190px;
    height: 23px;
    color: #181616;
    font-size: 23px;
    font-weight: 400;
    float: left;
    padding-top: 8px;
    margin-left: 92px; }
  .header-menu__about-our-work {
    display: block;
    float: left;
    width: 138px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #cb944c;
    margin-left: 16px;
    line-height: 0; }
    .header-menu__about-our-work p:nth-child(2) {
      color: #2b3056;
      padding-top: 5px; }
  .header-menu__navigation {
    display: block;
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
    max-width: 1240px;
    float: left; }
  .header-menu__navigation-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 18px 10px 0; }
    .header-menu__navigation-title a {
      text-decoration: none;
      color: #181818;
      padding-bottom: 20px; }
      .header-menu__navigation-title a:hover {
        color: #6570f2; }
    .header-menu__navigation-title:first-child:hover .header-menu__navigation-items {
      display: block;
      z-index: 2; }
    .header-menu__navigation-title:first-child:before {
      content: url("../assets/menu-icon.png");
      padding: 0 12px 0 6px; }
    .header-menu__navigation-title:first-child:after {
      content: url("../assets/catalog-string.png");
      padding-left: 10px; }
    .header-menu__navigation-title:nth-child(7) {
      background-color: #cb944c;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      padding-top: 0;
      margin-right: 7px;
      margin-left: 115px;
      padding-right: 21px; }
    .header-menu__navigation-title:nth-child(7):before {
      content: url("../assets/basket.png");
      float: right;
      margin-right: 12px;
      margin-top: -2px; }
    .header-menu__navigation-title #quantity-of-goods {
      color: #ffffff;
      padding-left: 2px; }
    .header-menu__navigation-title:nth-child(8) a {
      color: #252a54; }
    .header-menu__navigation-title:last-child {
      padding-right: 0; }
      .header-menu__navigation-title:last-child a {
        color: #252a54; }
    .header-menu__navigation-title:last-child:before {
      content: url("../assets/profile-icon.png");
      padding-right: 8px; }
  .header-menu__navigation-items {
    display: none;
    position: absolute;
    width: 244px;
    box-shadow: 2px 3px 1px rgba(108, 104, 104, 0.33);
    border-radius: 3px;
    border: 1px solid #dddfdf;
    background-color: #ffffff;
    list-style-type: none;
    padding-left: 0;
    margin-top: 18px; }
    .header-menu__navigation-items li {
      color: #cb944c; }
      .header-menu__navigation-items li:nth-child(4) {
        height: 35px; }
      .header-menu__navigation-items li:first-child a:after, .header-menu__navigation-items li:nth-child(4) a:after {
        content: "›";
        float: right;
        zoom: 1.4;
        color: #cb944c;
        margin-top: -4px;
        margin-right: 9px; }
      .header-menu__navigation-items li:nth-child(4):hover .header-menu__sub-menu-items {
        display: block; }
      .header-menu__navigation-items li:last-child a {
        height: 60px; }
      .header-menu__navigation-items li:before {
        content: "○";
        position: absolute;
        margin-left: 16px;
        margin-top: 4px; }
    .header-menu__navigation-items a {
      display: block;
      width: 244px;
      height: 35px;
      text-transform: none;
      padding-top: 4px;
      padding-left: 40px;
      color: #666666; }
      .header-menu__navigation-items a:hover {
        background-color: #e3e3e4;
        opacity: 0.77; }
  .header-menu__sub-menu-items {
    display: none;
    position: absolute;
    width: 244px;
    height: 156px;
    box-shadow: 2px 3px 1px rgba(108, 104, 104, 0.33);
    border-radius: 3px;
    border: 1px solid #dddfdf;
    background-color: #ffffff;
    left: 250px;
    padding-left: 0;
    margin-left: -3px;
    margin-top: -54px;
    list-style-type: none; }
    .header-menu__sub-menu-items li:nth-child(n+2) a:after {
      color: transparent; }
    .header-menu__sub-menu-items li:first-child {
      padding: 23px 0 8px 18px; }
    .header-menu__sub-menu-items li:first-child:before {
      color: transparent; }
    .header-menu__sub-menu-items li:last-child a {
      width: 244px;
      height: 35px; }
  @media all and (max-width: 1264px) {
    .header-menu__input-container {
      width: 221px; }
    .header-menu__search {
      width: 170px;
      font-size: 10px; }
    .header-menu__contact-number {
      margin-left: 29px; }
    .header-menu__navigation-title {
      font-size: 13px;
      font-weight: 700; }
      .header-menu__navigation-title:nth-child(7) {
        padding-top: 1px;
        margin-left: 35px; }
    .header-menu #quantity-of-goods {
      padding-left: 4px; }
    .header-menu__navigation {
      width: 100%; } }
  @media all and (max-width: 994px) {
    .header-menu__main-banner {
      margin-top: 22px; }
    .header-menu__logo {
      width: 178px; }
    .header-menu__logo-name {
      font-size: 13px; }
    .header-menu__contact-number {
      font-size: 15px;
      padding-top: 0; }
    .header-menu__about-our-work {
      width: 98px;
      height: 20px;
      font-size: 10px; }
      .header-menu__about-our-work:last-child {
        margin-top: -5px; }
    .header-menu__navigation-title:nth-child(n+7) {
      position: absolute;
      top: 45px;
      float: right; }
    .header-menu__navigation-title:last-child {
      right: 30px; }
    .header-menu__navigation-title:nth-child(8) {
      font-size: 10px;
      right: 109px;
      top: 51px; }
    .header-menu__navigation-title:nth-child(7) {
      right: 320px;
      width: 13px;
      top: 85px;
      zoom: 0.7; } }
  @media all and (max-width: 727px) {
    .header-menu__input-container {
      margin-left: 20px; } }
  @media all and (max-width: 716px) {
    .header-menu {
      height: 255px; }
      .header-menu__main-banner {
        padding-bottom: 40px; }
      .header-menu__input-container {
        height: 30px;
        margin-bottom: 10px; }
      .header-menu__search {
        height: 26px; }
      .header-menu__search-icon {
        margin-top: -23px; } }
  @media all and (max-width: 702px) {
    .header-menu__about-our-work {
      margin-top: 30px;
      margin-left: 55px; }
    .header-menu__navigation-title:nth-child(n+7) {
      top: 85px; }
    .header-menu__navigation-title:nth-child(8) {
      top: 91px; }
    .header-menu__navigation-title:nth-child(7) {
      top: 143px; } }
  @media all and (max-width: 640px) {
    .header-menu {
      height: 390px; }
      .header-menu__navigation-title:nth-child(-n+6) {
        width: 195px;
        text-align: center;
        float: left;
        margin-left: 33%; }
        .header-menu__navigation-title:nth-child(-n+6) a {
          text-align: center; }
      .header-menu__navigation-items {
        margin-top: 6px; }
        .header-menu__navigation-items li:before {
          display: none; }
        .header-menu__navigation-items a {
          padding-left: 0;
          text-align: left;
          padding-top: 10px; }
        .header-menu__navigation-items li:nth-child(4):hover .header-menu__sub-menu-items {
          display: none; } }
  @media all and (max-width: 460px) {
    .header-menu {
      height: 114px;
      min-height: 114px; }
      .header-menu__navigation-for-mobile {
        display: block;
        width: 100%;
        height: 40px;
        background-color: #f0f1f6; }
      .header-menu__mobile-nav-container {
        display: block;
        margin: 0 auto;
        width: 320px; }
        .header-menu__mobile-nav-container a {
          display: block;
          float: left;
          width: 52px;
          min-width: 20px;
          height: 40px;
          text-align: center; }
          .header-menu__mobile-nav-container a:hover {
            background-color: #3eade2;
            transition: 0.7s; }
        .header-menu__mobile-nav-container a img {
          padding-top: 10px; }
      .header-menu__input-container, .header-menu__contact-number, .header-menu__about-our-work, .header-menu__navigation {
        display: none; }
      .header-menu__main-banner {
        padding-bottom: 0;
        margin-top: 13px; } }
