@import url(header.css);
@import url(main.css);
@import url(slick.css);
@import url(slick-theme.css);
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0; }
